$white: #fafafa;
$black: #212121;
$dark: #333333;
$orange: rgba(255, 180, 0, 0.95);
$primary: rgb(78, 43, 233);
$lima: #7eb942;
$gray: #E5E5E5;
$orange-back:#FFB400;
$second-gray:#767676;
$primary-rgb: 78, 43, 233;
$radius: .4rem;
$radius-lg: .8rem;
$radius-xl: 1.2rem;
$light-gray:#F0F0F6;